<div class='container'>
  {{>register}}
</div>

<script>
  const templateCodes = {
    'instructions': {{{instructions}}},
    'test': {{{test}}},
    'stat': {{{stat}}},
    'playSounds': {{{playSounds}}},
    'showResult': {{{showResult}}},
  }

  const templates = {
    'instructions': Handlebars.template(templateCodes.instructions),
    'test': Handlebars.template(templateCodes.test),
    'stat': Handlebars.template(templateCodes.stat),
    'playSounds': Handlebars.template(templateCodes.playSounds),
    'showResult': Handlebars.template(templateCodes.showResult),
  }
</script>
