<label class="form-description">РЕЗУЛЬТАТЫ ТЕСТИРОВАНИЯ</label>


{{#each arr}}
<div class='formInfo'>
        <div class='name'>ИМЯ: <span class='text'>{{this.name}}</span></div>
        <div class='surname' type='text'>ФАМИЛИЯ: <span class='text'>{{this.surname}}</span></div>

        <div class='email'>EMAIL: <span class='text'>{{this.email}}</span> </div>

        <div class='countRight'>КОЛИЧЕСТВО ЗАПОМНЕННЫХ СЛОВ ВСЕГО: <span class='text'>{{this.countRight}}</span></div>

        <div class='positionRight'>КОЛИЧЕСТВО ЗАПОМНЕННЫХ СЛОВ В ПОРЯДКЕ ИХ ВОСПРОИЗВЕДЕНИЯ:
<span class='text'>{{this.positionRight}}</span></div>
</div>
{{/each}}